@using WebUI.Models.ViewModels.ClassModel
@using BLL.Models
@model ClassManageViewModel

<form asp-action="Add" asp-controller="Classes" asp-antiforgery="true">
    <div>
        <div>
            <label asp-for="SubjectId"></label>
            <select asp-for="SubjectId" asp-items="@(new SelectList(Model.Subjects, nameof(Subject.Id), nameof(Subject.Name)))"></select>
        </div>

        <div>
            <label asp-for="LecturerId"></label>
            <select asp-for="LecturerId" asp-items="@(new SelectList(Model.Lecturers, nameof(Lecturer.Id), nameof(Lecturer.LastName)))"></select>
        </div>

        <div>
            <label asp-for="StartDate"></label>
            <input asp-for="StartDate" />
        </div>

        <div>
            <label asp-for="EndDate"></label>
            <input asp-for="EndDate" />
        </div>

        <div>
            <label asp-for="CabinetId"></label>
            <input asp-for="CabinetId" />
        </div>

        <div class="form-group">
            @foreach (var group in Model.Groups)
            {
                <input type="checkbox" name="groups" value="@group.Name"
                       @(Model.Groups.Contains(group) ? "checked=\"checked\"" : "") />@group.Name <br />
                }
        </div>


        <div>
            <input type="submit" value="Save" />
        </div>
    </div>
</form>